<!DOCTYPE html>
<html>
<head>
    <title>Upload Images for Style Transfer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h2>Image Style Transfer</h2>
    <form action="/uploader" method="post" enctype="multipart/form-data">
        <label for="style_image">Style Image:</label>
        <input type="file" name="style_image" id="style_image" required><br><br>
        <label for="content_image">Content Image:</label>
        <input type="file" name="content_image" id="content_image" required><br><br>
        <input type="submit" value="Upload">
    </form>
    <div id="resultContainer" style="display:none;">
        <h3>Result:</h3>
        <img id="resultImage" src="" alt="Style transfer result will appear here">
    </div>

    <script>
    $(document).ready(function(){
        
        $('form').submit(function(event){
            // Prevent the default form submission
            event.preventDefault();

            var formData = new FormData(this);
            $.ajax({
                url: '/uploader',
                type: 'POST',
                data: formData,
                success: function(data){
                    console.log('Upload complete!');
                },
                error: function(xhr, status, error){
                    console.error("Error in upload: " + error + " Status: " + status + " xhr: " + xhr);
                },
                cache: false,
                contentType: false,
                processData: false
            });

            function sendRequestToLatestImage() {
                $.ajax({
                    url: '/latest-image',
                    type: 'GET',
                    success: function(data){
                        console.log('Received image from /latest-image: ', data)
                        // Update the result image src with the received image URL
                        $('#resultImage').attr('src', data);
                        $('#resultContainer').show(); // Show the result container
                        console.log('Received and displayed image from /latest-image');
                    },
                    error: function(xhr, status, error){
                        console.error("Error in request to /latest-image: " + error + " Status: " + status + " xhr: " + xhr);
                    },
                });
            }

            // Set an interval to send the request every 20 seconds (20000 milliseconds)
            setInterval(sendRequestToLatestImage, 10000); 
        });
    });
    </script>
</body>
</html>
